@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body section,
header {
  padding: 0;
  margin: 0;
}

/* QUERY FOR MOBILE FIRST */
html,
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
}

main {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}
.container__nav {
  width: 100%;
  display: flex;
  justify-self: start;
  margin-top: 2rem;
  order: -1;
  margin-bottom: 2rem;
}
.container__content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container__photo {
  width: 100%;
  order: -1;
  margin-bottom: 2rem;
}
.container__photo img {
  width: 100%;
}
.container__textContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}
.container__textContent p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 36%, 70%);
  margin-bottom: 2rem;
}
.container__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}
.container__topTitlePart {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1;
  color: hsl(0, 36%, 70%);
}
.container__bottomTitlePart {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 650;
  font-size: 3rem;
  line-height: 1;
  color: hsl(0, 0%, 0%);
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.formContainer__label {
  margin-bottom: 0.1rem;
  font-weight: bold;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-left: 0.7rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 36%, 70%);
}
.formContainer__input_container {
  width: 100%;
  height: 2.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  border-radius: 30px;
  border: 3px solid hsl(0, 36%, 70%);
  background-color: hsl(0, 93%, 68%);
}
.formContainer__faIcon {
  min-width: 50px;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  color: white;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  text-align: center;
  transition: color 0.3s;
}
.formContainer__faIcon:hover {
  color: hsl(96, 95%, 45%);
}
.formContainer__faIcon i {
  height: 2rem;
}
.formContainer__input-field {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-style: none;
  outline: none;
  margin-right: 2rem;
  padding-left: 1rem;
  z-index: 1;
  outline: hsl(0, 100%, 50%);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
}
.formContainer__input-field::placeholder {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 50%);
}
.formContainer__input-field:hover, .formContainer__input-field:focus {
  border: 3px solid;
}
.formContainer__input-valid {
  border: 4px solid hsl(96, 95%, 45%);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(96, 95%, 45%);
}
.formContainer__input-error, .formContainer__input-error:focus {
  outline: hsl(0, 100%, 50%);
  border: 3px solid hsl(0, 100%, 50%);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 100%, 50%);
}
.formContainer__errorIcon {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  padding-top: 0.05rem;
  right: 50px;
  bottom: 4px;
  z-index: 2;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 50%);
}
.formContainer__error_warning {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 14px;
  padding-right: 5px;
  font-style: italic;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: hsl(0, 100%, 50%);
}
.formContainer__btn {
  width: 2.7rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 45%;
  border: none;
  z-index: 2;
  right: 0.2rem;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.5s;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 93%, 68%);
}
.formContainer__btn img {
  width: 1rem;
  height: 1.5rem;
  margin-left: 0.2rem;
}
.formContainer__btn:hover {
  background-color: hsl(0, 36%, 70%);
  transform: scale(1.02);
}
.formContainer__hide {
  display: none;
}

.attribution {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  top: 12rem;
  padding: 0.5rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  color: hsl(0, 0%, 50%);
}

.attribution a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
}

@media (min-width: 768px) {
  main {
    flex: 1 0 auto;
    flex-direction: row;
  }
  .container {
    min-width: 45rem;
    max-width: 50rem;
    max-height: 32rem;
    margin-top: 5rem;
    display: flex;
  }
  .container__nav {
    margin-left: 0rem;
  }
  .container__content {
    width: 50%;
    height: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .container__photo {
    min-width: 45%;
    max-width: 40%;
    height: auto;
    right: 0;
    top: 0;
    order: 1;
    margin-bottom: 2rem;
    position: absolute;
  }
  .container__photo img {
    width: 100%;
    content: url("../assets/images/hero-desktop.jpg");
  }
  .container__textContent {
    width: 100%;
    justify-content: left;
    order: 0;
    margin: 0;
    text-align: left;
  }
  .container__title {
    margin: 0;
  }
  .container__topTitlePart {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1;
    color: hsl(0, 36%, 70%);
  }
  .container__bottomTitlePart {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 650;
    font-size: 3rem;
    line-height: 1;
    color: hsl(0, 0%, 0%);
  }
  .container .formContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
